name: MediSwarm PR Validation

on:
  schedule:
    - cron: '0 5 * * 0'
  pull_request:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  validate-swarm:
    runs-on: self-hosted
    timeout-minutes: 45

    env:
      PYTHONUNBUFFERED: 1


    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Get Docker image version
        id: get_version
        run: |
          VERSION=$(./getVersionNumber.sh)
          echo "VERSION=$VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build Docker image for real project (MEVIS)
        run: |
          chmod +x buildDockerImageAndStartupKits.sh
          ./buildDockerImageAndStartupKits.sh -p application/provision/project_MEVIS_test.yml

      - name: Show workspace path for MEVIS project
        run: |
          echo "WORKSPACE_PATH: ${{ env.WORKSPACE_PATH }}"
          find workspace -maxdepth 1 -type d -name "odelia_*_MEVIS_test" || echo "No workspace found"

      - name: Build Docker image and dummy startup kits
        run: ./buildDockerImageAndStartupKits.sh -p tests/provision/dummy_project_for_testing.yml --use-docker-cache

      - name: Run integration test checking documentation on github
        continue-on-error: false
        run: |
          ./runIntegrationTests.sh check_files_on_github

      - name: Run dummy training in swarm
        continue-on-error: false
        run: |
          ./runIntegrationTests.sh run_dummy_training_in_swarm

      - name: Kill orphaned containers from this run (if any)
        continue-on-error: false
        if: always()
        run: |
          ./runIntegrationTests.sh kill_server_and_clients
